DEVELOPMENT_TEAM = YOUR_TEAM_ID
GAD_APPLICATION_ID = ca-app-pub-YOURS_ID
GAD_BANNER_UNIT_ID_DEBUG = ca-app-pub-YOURS_ID/YOURS_DEBUG_ID
GAD_BANNER_UNIT_ID_RELEASE = ca-app-pub-YOURS_ID/YOURS_RELEASE_ID
GOOGLE_SERVICE_INFO_PLIST = GoogleService-Info.plist
